body {
    overflow: hidden;
    background-image: url("others/background.png");
    background-size: auto;

}

.miscDiv{
    position: fixed;
    width: 50%;
    left: 10px;
    top: 0vw;
    color: #fff;
    font-size: 1vw;
}

#winAnnouncement{
    font-size: 1vw;
}

#passButton{
    background-color: #27382D;
    border: 1px solid #000;
    width: 33.33%;
    height: 10%;
    color: #fff;
    font-size: 4vw;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10%;
}

.text{
    color: #fff;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
}

.textDiv{
    display: flex;
    justify-content: space-around;
}

@media only screen and (min-width: 1670px) {
    .text{
        /* margin-bottom: -50vw; */
    }
    .textDiv{
        display: block;
        position: fixed;
        top: 10vw;
        left: 10px;
    }
}

@font-face {
    font-family: EnchantFont;
    src: url('others/EnchantingTable-Regular.ttf') format('truetype');
}

body{
    margin: 0;
}

#base-div{
    display: flex;
    margin-bottom: 1px;
}

.cardsDiv{
    display: flex;
    margin-top: 20%;
    width: 50%;
}
.cardDiv{
    flex-wrap: wrap;
    width: 33.33%;
}
.tile{
    background: url(icons/tile.png);
}
img[src="icons/"]{
    display: none;
}

#cardSelected{
    border-color: #97ee65; 
}

.cardDiv{
    display: inline-block;
}

.cardTr{
    height: 3vw;
    width: 12vw;
    padding: 0px;
    margin: 0px;
}
.cardTd{
    height: 3vw;
    width: 3vw;
    padding: 0px;
    margin: 0px;
}
.BuildingImg{
    height: 3vw;
    width: auto;
    /* padding: 6px; */
}

path {
    fill: transparent;
}
.card{
    width: 90%;
    height: 25vw;
    margin: 10px;
    border: 0.5vw solid #508132;
    border-radius: 1vw;
}

.cardTable{
    position: relative;
    margin: auto;
    top: -50%;
    left: 0%;
}
.cardText{
    font-family: EnchantFont;
    position: relative;
    top: 88%;
    font-size: 1vw;
    text-align: center;
}
.cardTitle{
    font-family: EnchantFont;
    position: relative;
    margin: auto;
    top: -13%;
    font-size: 30px;
    transform: rotate(22deg);
}

.cardImg{
    background-image: url(card/card.png);
    background-size: contain;
}

.backgroundCard{
    background-image: url(card/background.png);
    background-size: contain;
}

.OffsetCardShape{
    margin: auto;
    left: -7%;
}

#main-table {
    margin: 1vh 1vh 0vh 1vh;
    border: 0.5vw solid #508132 ;
    height: 0;
    float:right;
    border-spacing: 0px;
    border-collapse: initial;
    text-indent: unset;
    box-sizing: unset;
}

#main-table > tr > td {
    border: #000 solid 0.25vw;
    padding: 0px;
    max-height: 4.2vw;
    min-height: 4.2vw;
}
#main-table > tr > td > *{
    position: absolute;

}

.selection-div {
    background-color: blueviolet;
    position: relative !important; 
    vertical-align: middle;
    object-fit: fill; 
    max-height: 4.2vw;
    min-height: 4.2vw;
}

.table-tile {
    height: 4.2vw;
    width: 4.2vw;
    vertical-align: middle;
    object-fit: fill; 
}

@media only screen and (max-width: 520px) {
    #base-div{
        flex-direction:column-reverse;
    }
    #main-table {
        border: 1vw solid #508132 ;
    }
    .table-tile {
        height: 9.1vw;
        width: 9.1vw;
        vertical-align: middle;
        object-fit: fill; 
    }
    .cardsDiv{
        margin-top: 1vh;
        margin-right: 1vh;
        width: 100%;
    }
    .card{
        width: 90%;
        height: 51vw;
        margin-right: 3vh;
        border: 1vw solid #508132;
        border-radius: 1vw;
    }
    
    .cardTable{
        top: -50%;
        left: 0%;
    }
    .cardText{
        top: 88%;
        font-size: 2.5vw;
    }
    .cardTitle{
        top: -15%;
        font-size: 36px;
    }
    .cardTr{
        height: 3vw;
        width: 20vw;
        padding: 0px;
        margin: 0px;
    }
    .cardTd{
        height: 5vw;
        width: 5vw;
        padding: 0px;
        margin: 0px;
    }
    .BuildingImg{
        height: 2vw;
        width: auto;
        /* padding: 6px; */
    }
    .OffsetCardShape{
        left: -5%;
    }
}